<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <h1>Add User:</h1>
    <form method="POST">
        {{ form.hidden_tag() }}  <!-- Include the hidden CSRF token field for form security -->
        <div class="form-group">
            {{ form.username.label(class="form-control-label") }}
            {{ form.username(class="form-control", required="required") }}
        </div>
        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {{ form.email(type="email", class="form-control", required="required") }}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {{ form.password(type="password", class="form-control", required="required") }}
        </div>
        <div class="form-group">
            {{ form.password2.label(class="form-control-label") }}
            {{ form.password2(type="password", class="form-control", required="required") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary", value="Submit") }}
        </div>
    </form>
</body>
</html>
