<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Challenge</title>
</head>
<body>
    <h1>Add Challenge:</h1>
    <form method="POST">
        <div class="form-group">
            {{ form.name.label(class="form-control-label") }}
            {{ form.name(class="form-control", required="required") }}
        </div>
        <div class="form-group">
            {{ form.challenge_type.label(class="form-control-label") }}
            <select id="challenge_type" name="challenge_type" class="form-control">
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
            </select>
        </div>
        <div class="form-group">
            {{ form.description.label(class="form-control-label") }}
            {{ form.description(class="form-control", required="required") }}
        </div>
        <div class="form-group">
            {{ form.reward.label(class="form-control-label") }}
            <input type="number" id="reward" name="reward" class="form-control">
        </div>
        <div class="form-group">
            {{ form.user_id.label(class="form-control-label") }}
            <input type="number" id="user_id" name="user_id" class="form-control">
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary", value="Submit") }}
        </div>
    </form>
</body>
</html>